<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AWS_ACCESS_KEY_ID</key>
    <string>YOUR_AWS_ACCESS_KEY_ID</string>
    <key>AWS_SECRET_ACCESS_KEY</key>
    <string>YOUR_AWS_SECRET_ACCESS_KEY</string>
    <key>AWS_REGION</key>
    <string>us-east-1</string>
    <key>SUPABASE_URL</key>
    <string>YOUR_SUPABASE_PROJECT_URL</string>
    <key>SUPABASE_ANON_KEY</key>
    <string>YOUR_SUPABASE_ANON_KEY</string>
</dict>
</plist>
